html {
    height: 100%;
    margin: auto;
    overflow: scroll;
}

body {
    background-color: #1c2523;
    background-image: url("../images/unc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Mandali', sans-serif;
}

image {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    margin: 20px 0px;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

section {
    width: 800px;
    max-width: 100%;
    height: auto;
    background-color: #B5B858;
    margin: 50px auto;
    padding: 20px 40px;
}

#timer-display {
    font-size: 24px;
    background-color: #1c2523;
    color: #B5B858;
    padding: 5px;
}

input {
    margin-left: 10px;
}

label {
    margin-right: 10px;
}

p {
    margin-bottom: 10px;
    margin-top: 25px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

button {
    margin-top: 20px;
    background-color: #1c2523;
    border: none;
    color: #B5B858;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.answer-div {
    display: inline;
}